.container {
  width: 50%;
  height: 50%;
  text-align: center;
  border-radius: 50px;
  margin: 60px 0;
  padding: 40px 40px;
  margin-left: 25%;
}
.btn {
  margin: 20px 0;
  border-radius: 10px;
}
#result,
#result-2,
#result-3,
#result-4,
#result-5 {
  margin-top: 40px;
}
.to {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
}
